<?xml version="1.0"?>
<module name="gcc">

	<type>Element</type>

	<classification>Runtime</classification>

	<targets>
		<availability ref="ostargets"/>
	</targets>

	<source available="false">
		<location type="">.</location>
	</source>


	<GroupOwner>tools</GroupOwner>
	<contents>
		<component id="libstdc" generated="false">
			<kind type="library"/>
			<location type="install">/lib</location>
			<location os="any" isa="arm" byteorder="le" basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/src/.libs" runtime="true">libstdc++.so.5.0.7</location>
			<link isa="arm" byteorder="le" runtime="true" src="../../libstdc++.so.5.0.7" dst="/lib/gcc/3.3.5/libstdc++.so"/> 
			<link isa="arm" byteorder="le" runtime="true" src="libstdc++.so.5.0.7" dst="/lib/libstdc++.so.5"/>
		</component>

		<component id="libstdc" generated="false">
			<kind type="library"/>
			<location type="install">/lib</location>
			<location os="any" isa="arm" byteorder="be" basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/be/libstdc++-v3/src/.libs" runtime="true">libstdc++.so.5.0.7</location>
			<link isa="arm" byteorder="be" runtime="true" src="../../libstdc++.so.5.0.7" dst="/lib/gcc/3.3.5/libstdc++.so"/> 
			<link isa="arm" byteorder="be" runtime="true" src="libstdc++.so.5.0.7" dst="/lib/libstdc++.so.5"/>
		</component>

		<component id="libstdc" generated="false">
			<kind type="library"/>
			<location type="install">/lib</location>
			<location os="any" isa="mips" byteorder="le" basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/libstdc++-v3/src/.libs" runtime="true">libstdc++.so.5.0.7</location>
			<link isa="mips" byteorder="le" runtime="true" src="../../libstdc++.so.5.0.7" dst="/lib/gcc/3.3.5/libstdc++.so"/> 
			<link isa="mips" byteorder="le" runtime="true" src="libstdc++.so.5.0.7" dst="/lib/libstdc++.so.5"/>
		</component>

		<component id="libstdc" generated="false">
			<kind type="library"/>
			<location type="install">/lib</location>
			<location os="any" isa="mips" byteorder="be" basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/be/libstdc++-v3/src/.libs" runtime="true">libstdc++.so.5.0.7</location>
			<link isa="mips" byteorder="be" runtime="true" src="../../libstdc++.so.5.0.7" dst="/lib/gcc/3.3.5/libstdc++.so"/> 
			<link isa="mips" byteorder="be" runtime="true" src="libstdc++.so.5.0.7" dst="/lib/libstdc++.so.5"/>
		</component>

		<component id="libstdc" generated="false">
			<kind type="library"/>
			<location type="install">/lib</location>
			<location os="any" isa="ppc" byteorder="be" basedir="../nto-x86-o-ntoppc/powerpc-unknown-nto-qnx6.3.0/libstdc++-v3/src/.libs" runtime="true">libstdc++.so.5.0.7</location>
			<link isa="ppc" byteorder="be" runtime="true" src="../../libstdc++.so.5.0.7" dst="/lib/gcc/3.3.5/libstdc++.so"/> 
			<link isa="ppc" byteorder="be" runtime="true" src="libstdc++.so.5.0.7" dst="/lib/libstdc++.so.5"/>
		</component>

		<component id="libstdc" generated="false">
			<kind type="library"/>
			<location type="install">/lib</location>
			<location os="any" isa="sh" byteorder="le" basedir="../nto-x86-o-ntosh/sh-unknown-nto-qnx6.3.0/libstdc++-v3/src/.libs" runtime="true">libstdc++.so.5.0.7</location>
			<link isa="sh" byteorder="le" runtime="true" src="../../libstdc++.so.5.0.7" dst="/lib/gcc/3.3.5/libstdc++.so"/> 
			<link isa="sh" byteorder="le" runtime="true" src="libstdc++.so.5.0.7" dst="/lib/libstdc++.so.5"/>
		</component>

		<component id="libstdc" generated="false">
			<kind type="library"/>
			<location type="install">/lib</location>
			<location os="any" isa="x86" basedir="../nto-x86-o-ntox86/i386-pc-nto-qnx6.3.0/libstdc++-v3/src/.libs" runtime="true">libstdc++.so.5.0.7</location>
			<link isa="x86" runtime="true" src="../../libstdc++.so.5.0.7" dst="/lib/gcc/3.3.5/libstdc++.so"/> 
			<link isa="x86" runtime="true" src="libstdc++.so.5.0.7" dst="/lib/libstdc++.so.5"/>
		</component>

		<package name="libstdc">
				
		<component id="libgccheader" generated="false">
			<location type="install">/usr/include/c++/3.3.5/</location>
			<location basedir="libsupc++" runtime="false">new</location>
			<location basedir="libsupc++" runtime="false">typeinfo</location>
			<location basedir="libsupc++" runtime="false">cxxabi.h</location>
			<location basedir="libsupc++" runtime="false">exception</location>
			<location basedir="libsupc++" runtime="false">exception_defines.h</location>
		</component>
		<component id="libstdc" generated="false">
			<kind type="library"/>
			<location type="install">/lib/gcc/3.3.5</location>
			<location os="any" isa="arm" byteorder="le" basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/libsupc++/.libs" runtime="true">libsupc++.a</location>
			<location os="any" isa="arm" byteorder="le" basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/src/.libs" runtime="true">libstdc++.a</location>
			<location os="any" isa="arm" byteorder="le" basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/libsupc++/.libs" runtime="true">libcxa.a</location>
		</component>

		<component id="libstdc" generated="false">
			<kind type="library"/>
			<location type="install">/lib/gcc/3.3.5</location>
			<location os="any" isa="arm" byteorder="be" basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/be/libstdc++-v3/libsupc++/.libs" runtime="true">libsupc++.a</location>
			<location os="any" isa="arm" byteorder="be" basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/be/libstdc++-v3/src/.libs" runtime="true">libstdc++.a</location>
			<location os="any" isa="arm" byteorder="be" basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/be/libstdc++-v3/libsupc++/.libs" runtime="true">libcxa.a</location>
		</component>

		<component id="libstdc" generated="false">
			<kind type="library"/>
			<location type="install">/lib/gcc/3.3.5</location>
			<location os="any" isa="mips" byteorder="le" basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/libstdc++-v3/libsupc++/.libs" runtime="true">libsupc++.a</location>
			<location os="any" isa="mips" byteorder="le" basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/libstdc++-v3/src/.libs" runtime="true">libstdc++.a</location>
			<location os="any" isa="mips" byteorder="le" basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/libstdc++-v3/libsupc++/.libs" runtime="true">libcxa.a</location>
		</component>

		<component id="libstdc" generated="false">
			<kind type="library"/>
			<location type="install">/lib/gcc/3.3.5</location>
			<location os="any" isa="mips" byteorder="be" basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/be/libstdc++-v3/libsupc++/.libs" runtime="true">libsupc++.a</location>
			<location os="any" isa="mips" byteorder="be" basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/be/libstdc++-v3/src/.libs" runtime="true">libstdc++.a</location>
			<location os="any" isa="mips" byteorder="be" basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/be/libstdc++-v3/libsupc++/.libs" runtime="true">libcxa.a</location>
		</component>

		<component id="libstdc" generated="false">
			<kind type="library"/>
			<location type="install">/lib/gcc/3.3.5</location>
			<location os="any" isa="ppc" byteorder="be" basedir="../nto-x86-o-ntoppc/powerpc-unknown-nto-qnx6.3.0/libstdc++-v3/libsupc++/.libs" runtime="true">libsupc++.a</location>
			<location os="any" isa="ppc" byteorder="be" basedir="../nto-x86-o-ntoppc/powerpc-unknown-nto-qnx6.3.0/libstdc++-v3/src/.libs" runtime="true">libstdc++.a</location>
			<location os="any" isa="ppc" byteorder="be" basedir="../nto-x86-o-ntoppc/powerpc-unknown-nto-qnx6.3.0/libstdc++-v3/libsupc++/.libs" runtime="true">libcxa.a</location>
		</component>

		<component id="libstdc" generated="false">
			<kind type="library"/>
			<location type="install">/lib/gcc/3.3.5</location>
			<location os="any" isa="sh" byteorder="le" basedir="../nto-x86-o-ntosh/sh-unknown-nto-qnx6.3.0/libstdc++-v3/libsupc++/.libs" runtime="true">libsupc++.a</location>
			<location os="any" isa="sh" byteorder="le" basedir="../nto-x86-o-ntosh/sh-unknown-nto-qnx6.3.0/libstdc++-v3/src/.libs" runtime="true">libstdc++.a</location>
			<location os="any" isa="sh" byteorder="le" basedir="../nto-x86-o-ntosh/sh-unknown-nto-qnx6.3.0/libstdc++-v3/libsupc++/.libs" runtime="true">libcxa.a</location>
		</component>

		<component id="libstdc" generated="false">
			<kind type="library"/>
			<location type="install">/lib/gcc/3.3.5</location>
			<location os="any" isa="x86" basedir="../nto-x86-o-ntox86/i386-pc-nto-qnx6.3.0/libstdc++-v3/libsupc++/.libs" runtime="true">libsupc++.a</location>
			<location os="any" isa="x86" basedir="../nto-x86-o-ntox86/i386-pc-nto-qnx6.3.0/libstdc++-v3/src/.libs" runtime="true">libstdc++.a</location>
			<location os="any" isa="x86" basedir="../nto-x86-o-ntox86/i386-pc-nto-qnx6.3.0/libstdc++-v3/libsupc++/.libs" runtime="true">libcxa.a</location>
		</component>

		<component id="libstdc" generated="false">
			<location type="install">/usr/include/c++/3.3.5/arm-unknown-nto-qnx6.3.0/bits</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">arm-unknown-nto-qnx6.3.0/bits/c++config.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">arm-unknown-nto-qnx6.3.0/bits/gthr.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">arm-unknown-nto-qnx6.3.0/bits/gthr-single.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">arm-unknown-nto-qnx6.3.0/bits/gthr-posix.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">arm-unknown-nto-qnx6.3.0/bits/gthr-default.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">arm-unknown-nto-qnx6.3.0/bits/ctype_base.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">arm-unknown-nto-qnx6.3.0/bits/ctype_inline.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">arm-unknown-nto-qnx6.3.0/bits/ctype_noninline.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">arm-unknown-nto-qnx6.3.0/bits/os_defines.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">arm-unknown-nto-qnx6.3.0/bits/atomicity.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">arm-unknown-nto-qnx6.3.0/bits/basic_file.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">arm-unknown-nto-qnx6.3.0/bits/c++io.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">arm-unknown-nto-qnx6.3.0/bits/c++locale.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">arm-unknown-nto-qnx6.3.0/bits/messages_members.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">arm-unknown-nto-qnx6.3.0/bits/time_members.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">arm-unknown-nto-qnx6.3.0/bits/codecvt_specializations.h</location>
		</component>

		<component id="libstdc" generated="false">
			<location type="install">/usr/include/c++/3.3.5/mips-unknown-nto-qnx6.3.0/bits</location>
			<location basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">mips-unknown-nto-qnx6.3.0/bits/c++config.h</location>
			<location basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">mips-unknown-nto-qnx6.3.0/bits/gthr.h</location>
			<location basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">mips-unknown-nto-qnx6.3.0/bits/gthr-single.h</location>
			<location basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">mips-unknown-nto-qnx6.3.0/bits/gthr-posix.h</location>
			<location basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">mips-unknown-nto-qnx6.3.0/bits/gthr-default.h</location>
			<location basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">mips-unknown-nto-qnx6.3.0/bits/ctype_base.h</location>
			<location basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">mips-unknown-nto-qnx6.3.0/bits/ctype_inline.h</location>
			<location basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">mips-unknown-nto-qnx6.3.0/bits/ctype_noninline.h</location>
			<location basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">mips-unknown-nto-qnx6.3.0/bits/os_defines.h</location>
			<location basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">mips-unknown-nto-qnx6.3.0/bits/atomicity.h</location>
			<location basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">mips-unknown-nto-qnx6.3.0/bits/basic_file.h</location>
			<location basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">mips-unknown-nto-qnx6.3.0/bits/c++io.h</location>
			<location basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">mips-unknown-nto-qnx6.3.0/bits/c++locale.h</location>
			<location basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">mips-unknown-nto-qnx6.3.0/bits/messages_members.h</location>
			<location basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">mips-unknown-nto-qnx6.3.0/bits/time_members.h</location>
			<location basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">mips-unknown-nto-qnx6.3.0/bits/codecvt_specializations.h</location>
		</component>

		<component id="libstdc" generated="false">
			<location type="install">/usr/include/c++/3.3.5/sh-unknown-nto-qnx6.3.0/bits</location>
			<location basedir="../nto-x86-o-ntosh/sh-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">sh-unknown-nto-qnx6.3.0/bits/c++config.h</location>
			<location basedir="../nto-x86-o-ntosh/sh-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">sh-unknown-nto-qnx6.3.0/bits/gthr.h</location>
			<location basedir="../nto-x86-o-ntosh/sh-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">sh-unknown-nto-qnx6.3.0/bits/gthr-single.h</location>
			<location basedir="../nto-x86-o-ntosh/sh-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">sh-unknown-nto-qnx6.3.0/bits/gthr-posix.h</location>
			<location basedir="../nto-x86-o-ntosh/sh-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">sh-unknown-nto-qnx6.3.0/bits/gthr-default.h</location>
			<location basedir="../nto-x86-o-ntosh/sh-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">sh-unknown-nto-qnx6.3.0/bits/ctype_base.h</location>
			<location basedir="../nto-x86-o-ntosh/sh-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">sh-unknown-nto-qnx6.3.0/bits/ctype_inline.h</location>
			<location basedir="../nto-x86-o-ntosh/sh-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">sh-unknown-nto-qnx6.3.0/bits/ctype_noninline.h</location>
			<location basedir="../nto-x86-o-ntosh/sh-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">sh-unknown-nto-qnx6.3.0/bits/os_defines.h</location>
			<location basedir="../nto-x86-o-ntosh/sh-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">sh-unknown-nto-qnx6.3.0/bits/atomicity.h</location>
			<location basedir="../nto-x86-o-ntosh/sh-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">sh-unknown-nto-qnx6.3.0/bits/basic_file.h</location>
			<location basedir="../nto-x86-o-ntosh/sh-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">sh-unknown-nto-qnx6.3.0/bits/c++io.h</location>
			<location basedir="../nto-x86-o-ntosh/sh-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">sh-unknown-nto-qnx6.3.0/bits/c++locale.h</location>
			<location basedir="../nto-x86-o-ntosh/sh-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">sh-unknown-nto-qnx6.3.0/bits/messages_members.h</location>
			<location basedir="../nto-x86-o-ntosh/sh-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">sh-unknown-nto-qnx6.3.0/bits/time_members.h</location>
			<location basedir="../nto-x86-o-ntosh/sh-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">sh-unknown-nto-qnx6.3.0/bits/codecvt_specializations.h</location>
		</component>

		<component id="libstdc" generated="false">
			<location type="install">/usr/include/c++/3.3.5/powerpc-unknown-nto-qnx6.3.0/bits</location>
			<location basedir="../nto-x86-o-ntoppc/powerpc-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">powerpc-unknown-nto-qnx6.3.0/bits/c++config.h</location>
			<location basedir="../nto-x86-o-ntoppc/powerpc-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">powerpc-unknown-nto-qnx6.3.0/bits/gthr.h</location>
			<location basedir="../nto-x86-o-ntoppc/powerpc-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">powerpc-unknown-nto-qnx6.3.0/bits/gthr-single.h</location>
			<location basedir="../nto-x86-o-ntoppc/powerpc-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">powerpc-unknown-nto-qnx6.3.0/bits/gthr-posix.h</location>
			<location basedir="../nto-x86-o-ntoppc/powerpc-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">powerpc-unknown-nto-qnx6.3.0/bits/gthr-default.h</location>
			<location basedir="../nto-x86-o-ntoppc/powerpc-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">powerpc-unknown-nto-qnx6.3.0/bits/ctype_base.h</location>
			<location basedir="../nto-x86-o-ntoppc/powerpc-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">powerpc-unknown-nto-qnx6.3.0/bits/ctype_inline.h</location>
			<location basedir="../nto-x86-o-ntoppc/powerpc-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">powerpc-unknown-nto-qnx6.3.0/bits/ctype_noninline.h</location>
			<location basedir="../nto-x86-o-ntoppc/powerpc-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">powerpc-unknown-nto-qnx6.3.0/bits/os_defines.h</location>
			<location basedir="../nto-x86-o-ntoppc/powerpc-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">powerpc-unknown-nto-qnx6.3.0/bits/atomicity.h</location>
			<location basedir="../nto-x86-o-ntoppc/powerpc-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">powerpc-unknown-nto-qnx6.3.0/bits/basic_file.h</location>
			<location basedir="../nto-x86-o-ntoppc/powerpc-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">powerpc-unknown-nto-qnx6.3.0/bits/c++io.h</location>
			<location basedir="../nto-x86-o-ntoppc/powerpc-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">powerpc-unknown-nto-qnx6.3.0/bits/c++locale.h</location>
			<location basedir="../nto-x86-o-ntoppc/powerpc-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">powerpc-unknown-nto-qnx6.3.0/bits/messages_members.h</location>
			<location basedir="../nto-x86-o-ntoppc/powerpc-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">powerpc-unknown-nto-qnx6.3.0/bits/time_members.h</location>
			<location basedir="../nto-x86-o-ntoppc/powerpc-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">powerpc-unknown-nto-qnx6.3.0/bits/codecvt_specializations.h</location>
		</component>

		<component id="libstdc" generated="false">
			<location type="install">/usr/include/c++/3.3.5/i386-pc-nto-qnx6.3.0/bits</location>
			<location basedir="../nto-x86-o-ntox86/i386-pc-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">i386-pc-nto-qnx6.3.0/bits/c++config.h</location>
			<location basedir="../nto-x86-o-ntox86/i386-pc-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">i386-pc-nto-qnx6.3.0/bits/gthr.h</location>
			<location basedir="../nto-x86-o-ntox86/i386-pc-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">i386-pc-nto-qnx6.3.0/bits/gthr-single.h</location>
			<location basedir="../nto-x86-o-ntox86/i386-pc-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">i386-pc-nto-qnx6.3.0/bits/gthr-posix.h</location>
			<location basedir="../nto-x86-o-ntox86/i386-pc-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">i386-pc-nto-qnx6.3.0/bits/gthr-default.h</location>
			<location basedir="../nto-x86-o-ntox86/i386-pc-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">i386-pc-nto-qnx6.3.0/bits/ctype_base.h</location>
			<location basedir="../nto-x86-o-ntox86/i386-pc-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">i386-pc-nto-qnx6.3.0/bits/ctype_inline.h</location>
			<location basedir="../nto-x86-o-ntox86/i386-pc-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">i386-pc-nto-qnx6.3.0/bits/ctype_noninline.h</location>
			<location basedir="../nto-x86-o-ntox86/i386-pc-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">i386-pc-nto-qnx6.3.0/bits/os_defines.h</location>
			<location basedir="../nto-x86-o-ntox86/i386-pc-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">i386-pc-nto-qnx6.3.0/bits/atomicity.h</location>
			<location basedir="../nto-x86-o-ntox86/i386-pc-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">i386-pc-nto-qnx6.3.0/bits/basic_file.h</location>
			<location basedir="../nto-x86-o-ntox86/i386-pc-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">i386-pc-nto-qnx6.3.0/bits/c++io.h</location>
			<location basedir="../nto-x86-o-ntox86/i386-pc-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">i386-pc-nto-qnx6.3.0/bits/c++locale.h</location>
			<location basedir="../nto-x86-o-ntox86/i386-pc-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">i386-pc-nto-qnx6.3.0/bits/messages_members.h</location>
			<location basedir="../nto-x86-o-ntox86/i386-pc-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">i386-pc-nto-qnx6.3.0/bits/time_members.h</location>
			<location basedir="../nto-x86-o-ntox86/i386-pc-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">i386-pc-nto-qnx6.3.0/bits/codecvt_specializations.h</location>
		</component>

<!-- Note the following entries are common among all processors hence grabbing them from only the arm directory -->
		<component id="libstdc" generated="false">
			<location type="install">/usr/include/c++/3.3.5/backward</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/complex.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/iomanip.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/istream.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/ostream.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/stream.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/streambuf.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/algo.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/algobase.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/alloc.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/bvector.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/defalloc.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/deque.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/function.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/hash_map.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/hash_set.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/hashtable.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/heap.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/iostream.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/iterator.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/list.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/map.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/multimap.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/new.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/multiset.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/pair.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/queue.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/rope.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/set.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/slist.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/stack.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/tempbuf.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/tree.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/vector.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/fstream.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/strstream</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">backward/backward_warning.h</location>
		</component>

		<component id="libstdc" generated="false">
			<location type="install">/usr/include/c++/3.3.5/bits</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/basic_ios.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/basic_ios.tcc</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/basic_string.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/basic_string.tcc</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/boost_concept_check.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/char_traits.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/codecvt.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/concept_check.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/cpp_type_traits.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/deque.tcc</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/fpos.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/fstream.tcc</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/functexcept.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/gslice.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/gslice_array.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/indirect_array.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/ios_base.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/istream.tcc</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/list.tcc</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/locale_classes.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/locale_facets.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/locale_facets.tcc</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/localefwd.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/mask_array.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/ostream.tcc</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/pthread_allocimpl.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stream_iterator.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/streambuf_iterator.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/slice_array.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/sstream.tcc</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_algo.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_algobase.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_alloc.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_bvector.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_construct.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_deque.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_function.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_heap.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_iterator.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_iterator_base_funcs.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_iterator_base_types.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_list.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_map.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_multimap.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_multiset.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_numeric.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_pair.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_pthread_alloc.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_queue.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_raw_storage_iter.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_relops.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_set.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_stack.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_tempbuf.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_threads.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_tree.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_uninitialized.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stl_vector.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/streambuf.tcc</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/stringfwd.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/type_traits.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/valarray_array.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/valarray_array.tcc</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/valarray_meta.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bits/vector.tcc</location>
		</component>

		<component id="libstdc" generated="false">
			<location type="install">/usr/include/c++/3.3.5</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">algorithm</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">bitset</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">cassert</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">cctype</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">cerrno</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">cfloat</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">ciso646</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">climits</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">clocale</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">cmath</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">complex</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">csetjmp</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">csignal</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">cstdarg</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">cstddef</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">cstdio</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">cstdlib</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">cstring</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">ctime</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">cwchar</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">cwctype</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">deque</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">fstream</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">functional</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">iomanip</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">ios</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">iosfwd</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">iostream</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">istream</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">iterator</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">limits</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">list</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">locale</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">map</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">memory</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">numeric</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">ostream</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">queue</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">set</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">sstream</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">stack</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">stdexcept</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">streambuf</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">string</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">utility</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">valarray</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">vector</location>
		</component>

		<component id="libstdc" generated="false">
			<location type="install">/usr/include/c++/3.3.5/ext</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">ext/algorithm</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">ext/enc_filebuf.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">ext/stdio_filebuf.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">ext/functional</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">ext/hash_map</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">ext/hash_set</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">ext/iterator</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">ext/memory</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">ext/numeric</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">ext/rb_tree</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">ext/rope</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">ext/ropeimpl.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">ext/slist</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">ext/stl_hash_fun.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">ext/stl_hashtable.h</location>
			<location basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/include" runtime="false">ext/stl_rope.h</location>
		</component>
		</package>
		
		<package name="internal-dev">
		<component id="libcxa" generated="false">
			<kind type="library"/>
			<location type="install">/lib/gcc/3.3.5</location>
			<location os="any" isa="arm" byteorder="le" basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/libstdc++-v3/libsupc++/.libs" runtime="false">libcxa.a</location>
			<location os="any" isa="arm" byteorder="be" basedir="../nto-x86-o-ntoarm/arm-unknown-nto-qnx6.3.0/be/libstdc++-v3/libsupc++/.libs" runtime="false">libcxa.a</location>
			<location os="any" isa="mips" byteorder="le" basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/libstdc++-v3/libsupc++/.libs" runtime="false">libcxa.a</location>
			<location os="any" isa="mips" byteorder="be" basedir="../nto-x86-o-ntomips/mips-unknown-nto-qnx6.3.0/be/libstdc++-v3/libsupc++/.libs" runtime="false">libcxa.a</location>
			<location os="any" isa="ppc" byteorder="be" basedir="../nto-x86-o-ntoppc/powerpc-unknown-nto-qnx6.3.0/libstdc++-v3/libsupc++/.libs" runtime="false">libcxa.a</location>
			<location os="any" isa="sh" byteorder="le" basedir="../nto-x86-o-ntosh/sh-unknown-nto-qnx6.3.0/libstdc++-v3/libsupc++/.libs" runtime="false">libcxa.a</location>
			<location os="any" isa="x86" basedir="../nto-x86-o-ntox86/i386-pc-nto-qnx6.3.0/libstdc++-v3/libsupc++/.libs" runtime="false">libcxa.a</location>
		</component>
		</package>

	</contents>
</module>
