<?xml version="1.0"?>
<module name="make">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="toolshosts"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>

	<GroupOwner>tools</GroupOwner>
	<contents>
		<package isHost="true">
		<component id="make" generated="true">
			<location basedir="{os}-{cpu}-o" runtime="true">
				make
			</location>
		</component>
		</package>
	</contents>

</module>
