<?xml version="1.0"?>
<module name="nasm">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="toolshosts"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


	<GroupOwner>tools</GroupOwner>
	<contents>
	<package isHost="true">
		<component id="nasm" generated="true">
			<location basedir="{os}-{cpu}-o" runtime="true">nasm</location>
			<location basedir="{os}-{cpu}-o" runtime="true">ndisasm</location>
		</component>
	</package>

	</contents>

</module>
