<?xml version="1.0"?>
<module name="gcc">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="toolshosts"/>
	</supports>

	<targets>
		<availability ref="ostargets"/>
	</targets>

	<source available="false">
		<location type="">.</location>
	</source>


	<GroupOwner>tools</GroupOwner>
	<contents>
		<package isHost="true">
		<component id="specs" generated="false">
				<location type="install">/usr/lib/gcc-lib/ntoarm/2.95.3/</location>
				<location tisa="arm" os="any" basedir="nto-x86-o-ntoarm/gcc" runtime="false">specs</location>
		</component>
		<component id="specs" generated="false">
				<location type="install">/usr/lib/gcc-lib/ntox86/2.95.3/</location>
				<location tisa="x86" os="any" basedir="nto-x86-o-ntox86/gcc" runtime="false">specs</location>
		</component>
		<component id="specs" generated="false">
				<location type="install">/usr/lib/gcc-lib/ntomips/2.95.3/</location>
				<location tisa="mips" os="any" basedir="nto-x86-o-ntomips/gcc" runtime="false">specs</location>
		</component>
		<component id="specs" generated="false">
				<location type="install">/usr/lib/gcc-lib/ntoppc/2.95.3/</location>
				<location tisa="ppc" os="any" basedir="nto-x86-o-ntoppc/gcc" runtime="false">specs</location>
		</component>
		<component id="specs" generated="false">
				<location type="install">/usr/lib/gcc-lib/ntosh/2.95.3/</location>
				<location tisa="sh" os="any" basedir="nto-x86-o-ntosh/gcc" runtime="false">specs</location>
		</component>
		<component id="cc1" generated="true">
			<location basedir="{os}-{cpu}-o-nto{tcpu}/gcc" runtime="true">cpp0</location>
			<location basedir="{os}-{cpu}-o-nto{tcpu}/gcc" runtime="true">cc1</location>
			<location basedir="{os}-{cpu}-o-nto{tcpu}/gcc" runtime="true">cc1plus</location>
			<location basedir="{os}-{cpu}-o-nto{tcpu}/gcc" runtime="true">collect2</location>
			<location basedir="{os}-{cpu}-o-nto{tcpu}/gcc" runtime="true">xgcc</location>
			<location basedir="{os}-{cpu}-o-nto{tcpu}/gcc" runtime="true">g++</location>
			<location basedir="{os}-{cpu}-o-nto{tcpu}/gcc" runtime="true">gcov</location>

			<link runtime="true" os="nto" dst="ntox86-nto-qnx6.3.0-gcov" src="/usr/bin/ntox86-gcov-3.3.5"/> 
			<link runtime="true" os="nto" dst="ntox86-nto-qnx6.3.0-gcc" src="/usr/bin/ntox86-gcc-3.3.5"/> 
			<link runtime="true" os="nto" dst="ntox86-nto-qnx6.3.0-g++" src="/usr/bin/ntox86-g++-3.3.5"/> 
		</component>
		<component id="libgcc" generated="false">
			<location type="install">usr/lib/gcc-lib/ntoarm/2.95.3/pic</location>
			<location os="any" runtime="false" tisa="arm" basedir="nto-x86-o-ntoarm/gcc/pic">libgcc.a</location>
		</component>
	
		<component id="libgcc" generated="false">
			<location type="install">/usr/lib/gcc-lib/ntoarm/2.95.3/pic/le</location>
			<location os="any" runtime="false" tisa="arm" basedir="nto-x86-o-ntoarm/gcc/pic/le">libgcc.a</location>
		</component>
		
		<component id="libgcc" generated="false">
			<location type="install">/usr/lib/gcc-lib/ntoarm/2.95.3/le</location>
			<location os="any" runtime="false" tisa="arm" basedir="nto-x86-o-ntoarm/gcc/le">libgcc.a</location>
		</component>
		
		<component id="libgcc" generated="false">
			<location type="install">/usr/lib/gcc-lib/ntoarm/2.95.3</location>
			<location os="any" runtime="false" tisa="arm" basedir="nto-x86-o-ntoarm/gcc">libgcc.a</location>
		</component>

		<component id="libgcc" generated="false">
			<location type="install">/usr/lib/gcc-lib/ntomips/2.95.3/qnxpic</location>
			<location os="any" runtime="false" tisa="mips" basedir="nto-x86-o-ntomips/gcc/qnxpic">libgcc.a</location>
		</component>

		<component id="libgcc" generated="false">
			<location type="install">/usr/lib/gcc-lib/ntomips/2.95.3/qnxpic/el</location>
			<location os="any" runtime="false" tisa="mips" basedir="nto-x86-o-ntomips/gcc/qnxpic/el">libgcc.a</location>
		</component>

		<component id="libgcc" generated="false">
			<location type="install">/usr/lib/gcc-lib/ntomips/2.95.3/el</location>
			<location os="any" runtime="false" tisa="mips" basedir="nto-x86-o-ntomips/gcc/el">libgcc.a</location>
		</component>

		<component id="libgcc" generated="false">
			<location type="install">/usr/lib/gcc-lib/ntomips/2.95.3</location>
			<location os="any" runtime="false" tisa="mips" basedir="nto-x86-o-ntomips/gcc">libgcc.a</location>
		</component>

		<component id="libgcc" generated="false">
			<location type="install">/usr/lib/gcc-lib/ntoppc/2.95.3</location>
			<location os="any" runtime="false" tisa="ppc" basedir="nto-x86-o-ntoppc/gcc">libgcc.a</location>
		</component>

		<component id="libgcc" generated="false">
			<location type="install">/usr/lib/gcc-lib/ntoppc/2.95.3/pic</location>
			<location os="any" runtime="false" tisa="ppc" basedir="nto-x86-o-ntoppc/gcc/pic">libgcc.a</location>
		</component>

		<component id="libgcc" generated="false">
			<location type="install">/usr/lib/gcc-lib/ntosh/2.95.3</location>
			<location os="any" runtime="false" tisa="sh" basedir="nto-x86-o-ntosh/gcc">libgcc.a</location>
		</component>

		<component id="libgcc" generated="false">
			<location type="install">/usr/lib/gcc-lib/ntosh/2.95.3/fpic</location>
			<location os="any" runtime="false" tisa="sh" basedir="nto-x86-o-ntosh/gcc/fpic">libgcc.a</location>
		</component>

		<component id="libgcc" generated="false">
			<location type="install">/usr/lib/gcc-lib/ntox86/2.95.3</location>
			<location os="any" runtime="false" tisa="x86" basedir="nto-x86-o-ntox86/gcc">libgcc.a</location>
			<location os="any" runtime="false" tisa="x86" basedir="nto-x86-o-ntox86/gcc">crtbeginC++.o</location>
			<location os="any" runtime="false" tisa="x86" basedir="nto-x86-o-ntox86/gcc">crtendC++.o</location>
		</component>

		<component id="libgccheader" generated="false">
			<location type="install">/usr/lib/gcc-lib/ntox86/2.95.3/include/</location>
			<location os="any" runtime="false" tisa="x86" basedir="nto-x86-o-ntox86/gcc/include">exception</location>
			<location os="any" runtime="false" tisa="x86" basedir="nto-x86-o-ntox86/gcc/include">new</location>
			<location os="any" runtime="false" tisa="x86" basedir="nto-x86-o-ntox86/gcc/include">new.h</location>
			<location os="any" runtime="false" tisa="x86" basedir="nto-x86-o-ntox86/gcc/include">typeinfo</location>
			<location os="any" runtime="false" tisa="x86" basedir="nto-x86-o-ntox86/ntox86/libio">_G_config.h</location>
		</component>

		</package>

	</contents>
</module>
